#block1 select {
    width:220px;
}

#block2 select {
    width:220px; 
}

#block1 {
    margin-left: 450px;
}

#block2 {
    margin-left: 680px;
    margin-top: -64px;
    
}

button {
      margin-left: 910px;
      margin-top: -74px;
}

#tab1 {
    background-color: black;
    color:gray;
}

#tableau {
    width: 700px;
    margin-left: 300px;
}