#block1 select {
    width:220px;
}

#block2 select {
    width:220px; 
}

#block1 {
    position: absolute; 
    top:130px; 
    left:400px;
}

#block2 {
    position: absolute;
    top:130px; 
    left:630px;
    
}

button {
      position: absolute;
      top:150px; 
      left:850px; 
}

#tab1 {
    background-color: black;
    color:gray;
}

#tableau {
    position: absolute;
    width: 700px;
    top:200px; 
    left:300px;
     
}

#nav {
    background-color: green;
}

h1 {
    position:absolute;
    top:50px;
    left:500px;
}